:root{
    --height:400px
}
.container {
    position: absolute;
    display: block;
    width: 500px;
    height: var(--height);
    background-color: azure;
}
.content{
    float: left;
    width: 470px;
    height: var(--height);
    margin: 0 5px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.scroll{
    width: 20px;
    float: left;
    height: var(--height,400px);
    background-color: rgb(128, 122, 122);
    position: relative;
}

.scroll-track{
    width: 22px;
    height: 360px;
    position: absolute;
    bottom: 45;
    background-color: firebrick;
}

.scroll-thumb{
    position: relative;
    left:5px;
    width:10px;
    top:50%;
    background-color: coral;
    cursor: grab;
}

.scroll-thumb:hover{
    background-color: rgb(45, 43, 180);
}

.scroll-up{
    position: absolute;
    bottom: 20px;
    background-color: deeppink;
}

.scroll-down{
    width: 22px;
    position: absolute;
    bottom:0px;
    background-color: deeppink;
}
