.container {
    display: block;
    width: 500px;
    height: 400px;
    background-color: azure;
}
.content{
    float: left;
    width: 300px;
    height: 360px;
    margin: 0 5px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.scroll{
    float: left;
    height: 360px;
    background-color: rgb(128, 122, 122);
}

.scroll-down{
    position : sticky;
    top: 335px;
    background-color: deeppink;
}
.scroll-up{
    position: relative;
    background-color: deeppink;
}

.scroll-thumb{
    width: 8px;
    margin: 2px auto;
    background-color: coral;
}
.scroll-thumb:hover{
    background-color: rgb(45, 43, 180);
}
img{
    display: block;
}